.botao-compras {
  display: block;
}
.botao-compras a {
  color: white;
  text-align: center;
  padding: 9px;
  border: 2px solid #8f3a02;
  border-radius: 4px;
  background: #d35400;
}
.botao-compras a:hover {
  color: rgb(219, 165, 121);
}
