ul {
  display: flex;
  gap: 20px;
}
ul a {
  color: white;
}
ul a:hover {
  color: rgb(219, 165, 121);
}
.menu-bg {
  background: #e67e22;
  border-top: 5px solid #e74d3ca1;
  border-bottom: 5px solid #e74d3c9f;
}
.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
