main h1 {
  display: inline-block;
  grid-column: 1 / -1;
  text-align: center;
  margin: 50px;
  color: #d35400;
  font-style: italic;
}

.produto-item p,
a,
h2 {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.produto-item span {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 30px;
  color: #fa8231;
}
.produto-item h2 {
  color: #c23616;
}
.foto-produto {
  border: 4px solid #d35400;
  border-radius: 60%;
  width: 250px;
}
.produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
}
.produto-item {
  justify-self: center;
}
