body,
p,
h1,
ul,
li {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
* {
  box-sizing: border-box;
}
